.bmicontainer {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10%;
    border: 5px solid white;
    border-radius: 50px;
  }
  .whtrcontainer {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10%;
    border: 5px solid white;
    border-radius: 50px;
  }
  #empty{
    /* border: 5px solid white; */
    height: 125px;
  }