.indcontainer {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 15%;
    border: 5px solid white;
    border-radius: 50px;
    /* margin-left: 5%; */
  }
  .outer{
    margin-left: 5%;
  }
  #empty{
    /* border: 5px solid white; */
    height: 125px;
  }